<div class="form-group module-set-controls">
    <div class="form-fields">
        <select class="load-module-set">
            <option value="">-- Select a Module Set --</option>
            {{#each moduleSets as |modules setName|}}
            <option value="{{setName}}" {{#if (eq setName ../currentSet)}}selected{{/if}}>{{setName}}</option>
            {{/each}}
        </select>
        <button type="button" class="load-set-button" style="display: none;">
            <i class="fas fa-download"></i> Load Set
        </button>
        <button type="button" class="update-module-set" style="display: none;">
            <i class="fas fa-save"></i> Update
        </button>
        <button type="button" class="save-new-module-set">
            <i class="fas fa-plus-circle"></i> Save as New
        </button>
        <button type="button" class="delete-module-set">
            <i class="fas fa-trash"></i> Delete
        </button>
        <div class="module-set-io-controls">
            <button type="button" class="export-module-sets">
                <i class="fas fa-file-export"></i> Export Sets
            </button>
            <button type="button" class="import-module-sets">
                <i class="fas fa-file-import"></i> Import Sets
            </button>
        </div>
    </div>
</div> 